h1 {
   text-color: rgb(255, 160, 35);
   text-align:center;
}

body {
  background-color:powderblue; 
  font-family:courier;
}

p {
  border: 1px solid black;
  padding: 30px;
  text-color: black;
}

p.error {
  text-color: white;
}

a {
   width:160
   height:160
   style:float:right;border:0;
}
