h1 {
   text-color: rgb(255, 160, 35);
   text-align:center;
}

body {
  background-color:blue; 
  font-family:courier;
}

p {
  border: 1px solid black;
  padding: 30px;
  text-color: black;
}

p.error {
  text-color: white;
}
